/* #root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* dashboard css */

.calorie_metrics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.dashboard_item {
  background-color: #1d212c;
  width: 150px;
  height: 120px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  border-radius: 1rem;
  margin-top: 2rem;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.15);
}

.dashboard_item>p {
  margin: 0;
}

.value {
  color: #ff3b01;
  font-size: 24px;
}

.icons {
  color: #FFFFFF;
}

.item_desc {
  color: #7c7d83;
}

/* nav css */

.nav_wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.nav_links {
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
}

.nav_links::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav_links:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* goals css */
.goals_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.goal_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  width: 300px;
  border: 1px solid black;
  border-radius: 1rem;
}

.goals_card_text {
  text-align: start;
  font-weight: 600;
}

.goal_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}

.exercise_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  width: 300px;
  border: 1px solid black;
  border-radius: 1rem;
}

.exercise_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}

.foodItems_card_text {
  text-align: end;
  font-weight: 600;
}


.add_goal {
  margin-top: 1rem !important;
}

.form_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fetch_btn {
  margin: 0.5rem 0;
}

/* footer css */

/* .footer {
  background-color: #daa520;
  padding: 2rem 1rem;
  text-align: center;
  color: #161616;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.footer .link {
  color: #161616;
  text-decoration: none;
}

.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link:hover {
  border: 1px solid #5be9b9;
  padding: 3px;
  box-shadow: 2.5px 5px #5be9b9;
}

.footer .footer-header {
  font-weight: bold;
  font-size: larger;
}

.footer ul {
  padding-inline-start: 0px;
  padding: 0.75rem;
  list-style: none;
}

.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
} */

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footer .link {
  text-decoration: none;
}

.footer-header {
  font-size: 18px;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 65%;
  }

  .calorie_metrics {
    padding-bottom: 10rem;
  }
}